<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../stylesheet.css">
    <title>Admin panel</title>
</head>
<body>
    <h1>Header 1</h1>
  <!-- Side navigation -->
<div class="sidenav">
  <a href="#">Customer Search</a>
  <br>
  <a href="#">New Customer</a>
  <br>
  <a href="#">New Employee</a>
  <br>
  <a href="#">Transactions</a>
  <br>
  <a href="#">Email</a>
  <br>
  <a href="#">Co-worker Contact</a>
  <br>
  <a href="#">Sign Out</a>
</div>

<!-- Page content -->
<div class="main">
  ...
</div>
</body>
</html>