<footer>
    <div class="footer-wrapper">
        <div class="container">
            <div class="followDiv">
                <h2>Follow us</h2>
                <ul>
                    <li class="sociallink">
                        <span class="icon-facebook"></span>
                        <a href="https://www.facebook.com/kea.dk/" target="_blank" title="Find us on Facebook">Facebook</a>
                    </li>
                    <li class="sociallink">
                        <span class="icon-linkedin"></span>
                        <a href="https://www.linkedin.com/school/kea-k-benhavns-erhvervsakademi/" target="_blank" title="Find us on LinkedIn">LinkedIn</a>
                    </li>
                    <li class="sociallink">
                        <span class="icon-twitter"></span>
                        <a href="https://www.twitter.com/keacph/" target="_blank" title="Find us on Twitter">Twitter</a>
                    </li>
                    <li class="sociallink">
                        <span class="icon-instagram"></span>
                        <a href="https://www.instagram.com/keacph/" target="_blank" title="Find us on Instagram">Instagram</a>
                    </li>
                </ul>
            </div>
        
            <div class="addressDiv">
                <h2>Private Bank inc.</h2>
                <ul>
                    <p>105 Banking Street</p>
                    <p>New York City</p>
                    <p>Email: <a href="mailto:private-bank105@private-bank.com">private-bank105@private-bank.com</a></p>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>