<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transactions</title>
</head>
<body onload="parent.show_notification();create_tabledata();" onunload="mark_read();">
    <h1>Private Bank</h1>
    <div id="page_heading">
            
    </div>
    <div id="transaction_history">
        <table id="transaction_table"  style="border-collapse:collapse;" cellpadding=5px; width=100%>
            <tr>
                <th>Sender</th>
                <th>Send To</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
        </table>
    </div>
</body>
</html>